@import "/src/colors";

.loader{
    margin: 50px auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 10px solid $br__grey;
    border-top: 10px solid $br__red;
    animation: animate 2s infinite linear;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}