@import "/src/colors";

.btn{
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 1rem;
    background: $background__second;
    border: 1px solid $br__grey;
    &:hover{
        background: $br__red;
        transition: 0.1s linear;
    }
}