@import "/src/colors";

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: $background;
    color: $text;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
li{
    list-style-type: none;
}

ul{
    margin: 0; 
    padding: 0;
}

input{
    outline: none;
}

select{
    outline: none;
}

h2{
    margin: 5px 0;
}

button {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: $text;
}

.border-menu{
    height: 1px; 
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.28) 30.73%, rgba(255, 255, 255, 0.28) 69.27%, rgba(255, 255, 255, 0) 100%);
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 5px auto;
    max-width: 1100px;
    background: $background__second;
    border: 1px solid $br__grey;
    @media (max-width: 1120px) {
        max-width: 880px;
    }
    @media (max-width: 900px) {
        max-width: 700px;
    }
    @media (max-width: 720px) {
        max-width: 460px;
    }
    .main-block{
        border-left: 1px solid $br__grey;
        width: 848px;
        .content-main{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            @media (max-width: 1120px) {
                grid-template-columns: repeat(3, 1fr);
            }
            @media (max-width: 900px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 720px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

.post{
    &__rating-color{
        color: $text;
    }
    &__text{
        font-weight: 300;
        font-size: 15px;
    }
    &__flex{
        display: flex;
    }
    &__left{
        &-poster{
            width: 275px;
            height: 413px;
            border-radius: 6px;
            margin-top: 5px;
        }
        &-rating{
            display: flex;
            justify-content: space-between;
            margin-bottom: 6px;
            width: 275px;
            &-kinopoisk{
                width: 135px;
                height: 30px;
                border: 3px solid #802B2B;
                border-radius: 6px;
                line-height: 23px;
                color: #802B2B;
                text-align: center;
            }
            &-imdb{
                width: 135px;
                height: 30px;
                border: 3px solid #F5C518;
                border-radius: 6px;
                line-height: 23px;
                color: #F5C518;
                text-align: center;
            }
        }
        &-site{
            width: 275px;
            height: 57px;
            border: 3px solid #3E1E1E;
            border-radius: 6px;
            &-rating{
                text-align: center;
                font-size: 16px;
                line-height: 23px;
                text-transform: uppercase;
                color: #9B3737;
            }
            &-stars{
                margin-top: 2px;
                padding: 0 7px;
                display: flex;
                justify-content: space-between;
            }
        }
        
    }
    &__right{
        width: 100%;
        &-text-one{
            padding: 8px 15px;
        }
        &-text-two{
            padding: 8px 15px;
            background-color: #252525;
        }
    }
    &__players{
        background: $br__grey;
        &-panel{
            &-button{
                padding: 0 10px;
                font-size: 1rem;
                background: $background__second;
                border: 1px solid $br__grey;
                height: 40px;
                &:hover{
                    color: $br__red;
                    background: $br__grey;
                }
            }
            .active{
                color: $br__red;
                background: $br__grey;
            }
        }
    }
    &__recommended{
        &-title{
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            padding: 10px;
        }
        &-block{
            display: flex;
            justify-content: space-between;
            &-film{
                width: 135px;
                height: 249px;
                background: $br__grey;
                border-radius: 6px;
                text-align: center;
                padding: 10px;
                &-poster{
                    width: 115px;
                    height: 191px;
                    border-radius: 6px;
                }
                &-text{
                    font-size: 13px;
                    line-height: 14px;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    &__comments{
        padding-bottom: 10px;
        &-more{
            padding: 5px 10px;
            margin: 10px;
            height: 30px;
            font-weight: 300;
            border: 1px solid $br__grey;
            border-radius: 6px;
            &:hover{
                background: $br__grey;
            }
        }
        &-panel{
            padding: 0 10px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-add{
                color: $br__red;
                height: 28px;
                border: 2px solid $br__red;
                border-radius: 6px;
                &:hover{
                    color: $text;
                    background: $br__red;
                }
            }
            &-number{
                width: 28px;
                border-radius: 6px;
                border: 2px solid $text;
                text-align: center;
            }
        }
        &-block{
            height: 320px;
            padding: 10px;
            background: #252525;
            &-flex{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                &-text{
                    color: $text;
                    width: 605px;
                    height: 262px;
                    background: $background__second;
                }
                &-emodji{
                    width: 218px;
                    height: 262px;
                    background: $background__second;
                }
            }
            &-put{
                color: $br__red;
                height: 28px;
                border: 2px solid $br__red;
                border-radius: 6px;
                &:hover{
                    color: $text;
                    height: 28px;
                    background: $br__red;
                }
            }
        }
        &-comment{
            &-main{
                position: relative;
                z-index: 1;
                display: flex;
                padding: 10px;
                border-bottom: 1px solid $br__grey;
                border-left: 1px solid $br__grey;
                &-photo{
                    width: 95px;
                    height: 95px;
                    margin-right: 10px;
                }
                &-answer{
                    position: absolute;
                    font-size: 14px;
                    right: -1px;
                    bottom: -1px;
                    border: 1px solid $br__grey;
                    &:hover{
                        background: $br__grey;
                    }
                }
                &-plus{
                    min-width: 40px;
                    padding: 0 5px;
                    height: 20px;
                    font-weight: 600;
                    font-size: 1;
                    background: #017C32;
                    border-radius: 0px 0px 6px 6px;
                    position: absolute;
                    right: 60px;
                    top: 0;
                    text-align: center;
                    cursor: pointer;
                }
                &-minus{
                    position: absolute;
                    padding: 0 5px;
                    right: 0;
                    font-weight: 600;
                    text-align: center;
                    top: 0;
                    min-width: 40px;
                    height: 20px;
                    background: #7C1F01;
                    border-radius: 0px 0px 6px 6px;
                    cursor: pointer;
                }
                &-num{
                    position: absolute;
                    font-size: 0.75rem;
                    left: 290px;
                    padding: 0 5px;
                    min-width: 15px;
                    border-radius: 6px;
                    border: 1px solid white;
                    text-align: center;
                }
                &-more-comments{
                    width: 25px;
                    position: absolute;
                    z-index: 1000;
                    bottom: -1px;
                    left: 3px;
                    cursor: pointer;
                    border: 1px solid $br__grey;
                }
                &-block{
                    &-info{
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        &-nick{
                            margin-right: 5px;
                        }
                        &-date{
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 12px;
                            opacity: 0.7;
                        }
                    }
                    &-text{
                        line-height: 19px;
                    }
                }
            }
        }
        &-comment{
            &-dop{
                position: relative;
                z-index: 1;
                display: flex;
                padding: 10px;
                border-bottom: 1px solid $br__grey;
                border-left: 1px solid $br__grey;
                &-photo{
                    width: 75px;
                    height: 75px;
                    margin: 0 10px 0 100px;
                }
                &-answer{
                    position: absolute;
                    font-size: 14px;
                    right: -1px;
                    bottom: -1px;
                    border: 1px solid $br__grey;
                    &:hover{
                        background: $br__grey;
                    }
                }
                &-plus{
                    min-width: 40px;
                    padding: 0 5px;
                    height: 20px;
                    font-weight: 600;
                    font-size: 1;
                    background: #017C32;
                    border-radius: 0px 0px 6px 6px;
                    position: absolute;
                    right: 60px;
                    top: 0;
                    text-align: center;
                    cursor: pointer;
                }
                &-minus{
                    position: absolute;
                    padding: 0 5px;
                    right: 0;
                    font-weight: 600;
                    text-align: center;
                    top: 0;
                    min-width: 40px;
                    height: 20px;
                    background: #7C1F01;
                    border-radius: 0px 0px 6px 6px;
                    cursor: pointer;
                }
                &-num{
                    position: absolute;
                    font-size: 0.75rem;
                    left: 370px;
                    padding: 0 5px;
                    min-width: 15px;
                    border-radius: 6px;
                    border: 1px solid white;
                    text-align: center;
                }
                &-more-comments{
                    width: 25px;
                    position: absolute;
                    z-index: 1000;
                    bottom: -1px;
                    left: 3px;
                    cursor: pointer;
                    border: 1px solid $br__grey;
                }
                &-block{
                    &-info{
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        &-nick{
                            margin-right: 5px;
                        }
                        &-date{
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 12px;
                            opacity: 0.7;
                        }
                    }
                    &-text{
                        line-height: 19px;
                    }
                }
            }
        }
    }
}

.profile{
    &__info{
        display: flex;
        &-left{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-photo{
                padding: 10px;
                width: 196px;
                height: 196px;
                border: 1px solid $br__grey;
                border-top: none;
            }
            &-change-photo{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 196px;
                height: 34px;
                font-weight: 300;
                padding: 5px;
                border: 1px solid $br__grey;
                border-top: none;
                border-radius: 0px 0px 6px 6px;
                &:hover{
                    background: $br__grey;
                }
                &-avatar{
                    margin-left: 5px;
                }
            }
            &-change-profile{
                font-weight: 300;
                width: 176px;
                height: 26px;
                font-size: 14px;
                padding: 5px;
                border: 1px solid $br__grey;
                border-top: none;
                border-radius: 0px 0px 6px 6px;
                &:hover{
                    background: $br__grey;
                }
            }
        }
        &-right{
            width: 100%;
            &-one{
                display: flex;
                align-items: center;
                padding: 10px;
                height: 39px;
                &-span{
                    font-weight: 300;
                    font-size: 15px;
                    margin-left: 5px;
                }
            }
            &-two{
                display: flex;
                align-items: center;
                padding: 10px;
                height: 39px;
                background: $br__grey;
                &-span{
                    font-weight: 300;
                    font-size: 15px;
                    margin-left: 5px;
                }
            }
        }
    }
    &__watch{
        &-title{
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            padding: 10px;
        }
        &-button{
            margin: 10px 0;
            width: 100%;
            height: 39px;
            border: 1px solid $br__grey;
            border-radius: 6px;
            &:hover{
                background: $br__grey;
            }
        }
        &-block{
            display: flex;
            justify-content: space-between;
            &-item{
                width: 135px;
                height: 249px;
                background: $br__grey;
                border-radius: 6px;
                text-align: center;
                padding: 10px;
                &-poster{
                    width: 115px;
                    height: 191px;
                    border-radius: 6px;
                }
                &-text{
                    font-size: 13px;
                    line-height: 14px;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}